.main{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8%;
}
.cards{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;justify-items: start;
}
.card{
    width: 350px;
}
.startText{
    font-weight: bolder;
    font-size: 35px;
    width: 350px;
}